<!DOCTYPE html>
{% load static %}
<html lang="es" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<title>Stock</title>
</head>
<body>
	{% if alert %}
	<script>alert("{{ alert }}");</script>
	{% endif %}

	<div class="body"></div>
	<div class="grad"></div>
	<h2>Agregar Stock al Producto</h2>

	<div>
		<form action="/inventories/{{ usuario }}/2/" method="post">
			<!--patch-->
			{% csrf_token %}
			<label for="fname">Codigo del Producto:</label><input type="number" placeholder="Codigo" name="codigo" required="required"><br><br>
			<label for="fname">Stock Agregar:</label><input type="number" placeholder="Stock" name="stock" required="required"><br><br>
			<input type="submit" value="Agregar"><br><br>
		</form>
	</div>

</body>
</html>